<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.boot.Main_Page.dao.PaymentDAO">

    <insert id="insertPayment" parameterType="com.boot.Main_Page.dto.PaymentDTO">
        INSERT INTO payment (
            payment_key, 
            order_id, 
            order_name,
            amount, 
            method, 
            status, 
            approved_at, 
            is_canceled
        ) VALUES (
            #{paymentKey}, 
            #{orderId}, 
            #{orderName},
            #{amount}, 
            #{method}, 
            #{status}, 
            #{approvedAt}, 
            0  )
    </insert>
    
    <update id="updatePaymentCancel" parameterType="com.boot.Main_Page.dto.PaymentDTO">
    	UPDATE payment
    	SET
    		status = 'CANCELED',
    		is_canceled = 1,
    		cancel_reason = #{cancelReason},
    		canceled_at = #{canceledAt}
    	WHERE payment_key = #{paymentKey}
    </update>

</mapper>

